.user_info{
    margin-top: 20px;
    display: flex;
    background-color: #e9ebed;
    width: 100%;
    padding: 20px;
}
.uer_icon{
    background-color: #3AFF71;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userimg{
    width: 78px;
    height: 78px;
}
.userinfo{
    margin-left: 40px;
}
.myorders{
    background-color: #ffffff;
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}
.uorder{
    margin:20px
}
.foods{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.foods h3{
    color: #3AFF71;
    border-bottom: 1px solid #3AFF71;
}
.foods h4{
    margin-top: 10px;
}
.totalprice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}
.logout_con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.login_btn{
    margin-top: 20px;
    background-color: #3AFF71;
    color: #ffffff;
    width: 314px;
    height: 70px;
    border-radius: 30px;
    border: none;
    font-size: 24px;
}